.result-box {
  display: inline-block;
  min-width: 15px;
  background-color: rgb(255, 210, 48);
  color: black;
  justify-content: center;
  border: 1px solid;
  margin: 1px;
  text-align: center;
  font-weight: normal;
}
.result-box-left {
  float: left;
}
.result-box-right {
  float: right;
}
.result-box-won {
  font-weight: bold;
}
